* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    min-height: 800px;
    background: url('../img/background_first.png') center center/cover no-repeat;
    padding: 39px 0 62px 0;
    
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    padding-top: 14px;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
}

h1 {
    padding-top: 53px;
}

.title {
    text-align: center;
    font-family: Roboto;
    font-size: 41px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f9bf3b;
}

.simple .title_big {
    padding-top: 21px;
    text-align: center;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
}

h2.title {
    padding-top: 30px;
}

.promo_text {
    padding: 0 13px;
    padding-top: 23px;
    text-align: center;
    font-family: Roboto;
    font-size: 21px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
}

.promo_text_spun {
    font-weight: 700;
    color: #f9bf3b;
}

.promo .promo_btn, .gift .gift_btn {
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 321px;
    height: 80px;
    background-image: linear-gradient(0.0deg, #2798b9 0%, #3ab6da 100%);
    border: 4px solid rgba(0,0,0,0.22);
    box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.17);

    font-family: 'Roboto Condensed';
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.21);
    color: #ffffff;
    cursor: pointer;
}

.promo .more .more_text {
    margin-top: 50px;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    color: #ffffff;
}

.promo .more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

/* waiting_section */

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #252525;
}

.finish .finish_header {
    color: #efefef;
}

.waiting .waiting_divider, .finish .finish_divider {
    margin: 0 auto;
    margin-top: 18px;
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
}

.waiting .waiting_subheader {
    margin-top: 17px;
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    line-height: 20px;
    font-weight: 400;
    color: #4a4a4a;
}

.waiting .waiting_wraper {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
   
}

.waiting .waiting_wraper .waiting_item {
    text-align: center;
    width: 342px;
}

.waiting .waiting_wraper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wraper .waiting_item .waiting_descr {
    padding-top: 33px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
    color: #4a4a4a;
}

/* optimization_section */

.optimization {
    padding: 102px 0 107px 0;
    min-height: 550px;
}

.optimization .optimization_header {
    margin-left: 391px;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    color: #299cbd;
}

.optimization .optimization_text {
    margin-left: 391px;
    margin-top: 25px;
    font-family: Roboto;
    font-size: 17px;
    line-height: 27px;
    font-weight: 300;
    color: #4a4a4a;
}

.optimization .optimization_text span {
    font-weight: 700;
}

.optimization .optimization_bg {
    position: absolute;
    top: -48px;
    left: -240px;
    z-index: -1;
}

/* finish_section */

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/background_second.png') center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 100%;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    text-align: center;
    font-family: Roboto;
    font-size: 17px;
    line-height: 20px;
    font-weight: 300;
    color: #efefef;
}

/* gift_section */

.gift {
    padding: 86px 0 83px 0;
    min-height: 628px;
    background-color: #efefef;
}

.gift .gift_img_bow {
    /* padding-left: 526px;
    margin: 0 auto; */
    display: flex;
    justify-content: center;
}

.gift .gift_img_box {
    display: flex;
    justify-content: center;
}

.gift .gift_text {
    margin-top: 42px;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    line-height: 43px;
    font-weight: 400;
    color: #252525;
}